
*.xcuserstate

*.xcbkptlist

MarkitPlayGround.xcodeproj/project.xcworkspace/xcuserdata/akashmudubagilu.xcuserdatad/UserInterfaceState.xcuserstate

MarkitPlayGround.xcodeproj/xcuserdata/akashmudubagilu.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
